body {
    padding-top: 59px;
}

.bx-core-window.bx-core-adm-dialog input[type=checkbox] + label:before {
    border: none;
    background-color: transparent;
}
.bx-core-window.bx-core-adm-dialog input[type=checkbox] {
    display: inline;
}