body {
    padding-top: 59px;
}

.bx-core-window.bx-core-adm-dialog input[type=checkbox] + label:before {
    border: none;
    background-color: transparent;
}
.bx-core-window.bx-core-adm-dialog input[type=checkbox] {
    display: inline;
}
footer .block-footer-modile-menu {
    display: none;
}

.container .card-deck .block-main-top {
    position: relative;
    overflow: hidden;
    background-color: #EAEBEE;
    margin-bottom: 35px;
    padding: 20px 80px;
    border-radius: 10px;
    font-size: 15px;
}
.container .card-deck .block-main-top h3 {
    font-weight: bold;
}
.container .card-deck .block-main-top h3,
.container .card-deck .block-main-top .big-text,
.container .cards-deck .big-text {
    font-size: 24px;
}
.container .card-deck .block-main-top .block-green {
    position: absolute;
    z-index: 1;
    width: 60%;
    min-width: 250px;
    height: 100%;
    left: 60%;
    top: 0;
    clip-path: polygon(200px 0px, 100% 0px, 100% 100%, 0px 100%);
    background: linear-gradient(270deg, rgb(108, 196, 123) 0%, rgb(3, 140, 115) 100%);
}
.container .card-deck .block-main-top .block-samokat {
    background-image: url('img/samokat-5.png');
    top:0;
    left: 75%;
    height: 464px;
    width: 318px;
    position: absolute;
    z-index: 2;
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.container .card-deck .block-main-top .block-btn {
    margin-top: 25px;
}
.btn-read {
    background: #F65E64;
    border-radius: 40px;
    display: inline-block;
    padding: 10px 30px;
    color: #FFFFFF;
    font-size: 18px;
}
.btn-read:hover {
    color: #FFFFFF;
}
.container .cards-deck {
    font-size: 15px;
}
.container .cards-deck .item-card {
    background: #F2F2F2;
    border-radius: 10px;
    padding: 20px 30px;
    position: relative;
}
.container .cards-deck .block-item {
    position: relative;
    margin-bottom: 20px;
}
.container .cards-deck .block-item .block-img {
    position: absolute;
    width: 168px;
    height: 195px;
    right: 0px;
    z-index: 2;
    background-size: 167px;
    background-repeat: no-repeat;
    background-position: 0 0;
    bottom: 0;
    border-radius: 10px;
}
.container .cards-deck .block-item .small-text {
    font-size: 12px;
}
.container .cards-deck .block-item.item-mch .block-img {
    background-image: url('img/mch-3.png');
}
.container .cards-deck .block-item .more-dierails {
    margin-top: 10px;
    padding-top: 10px;
}



.kdNHTS {
    margin-bottom: 80px;
    font-family: Gilroy-Regular, sans-serif;
}
.ckfICs {
    display: flex;
    margin: 30px -15px 0px;
}
.fatiKL {
    color: rgb(38, 38, 38);
    font-size: 34px;
    font-family: Gilroy-Bold, sans-serif;
}
.kuloBk,
.kozmcS,
.jsvCKf {
    width: 230px;
    max-width: 320px;
    min-width: 230px;
    font-weight: 500;
    background-color: rgb(242, 242, 242);
    background-size: cover;
    padding: 170px 20px 30px;
    border-radius: 10px;
}
.kuloBk {
    background-image: url('img/card--bg-laptop.webp');
}
.kozmcS {
    background-image: url('img/card--bg-clock.webp');
}
.jsvCKf {
    background-image: url('img/card--bg-money.webp');
}
.jsvCKf article + article,
.ckfICs article + article {
    margin-left: 25px;
}
.boHdLj {
    color: rgb(133, 143, 154);
    font-size: 18px;
    line-height: 22px;
}

.block-calc-slider-credit {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #747474;
}
.block-calc-slider-credit .item-card .row,
.block-calc-slider-credit .block-slider {
    margin-bottom: 25px;
}
.block-calc-slider-credit .text-sum {
    line-height: 3em;
}
.block-calc-slider-credit .credit-value .valut,
.block-calc-slider-credit .credit-value #summ-amount {
    font-weight: 500;
    font-size: 33px;
    color: #262626;
}
.block-calc-slider-credit .ui-widget.ui-widget-content {
    height: 5px;
    background: #038C73;
    position: relative;
}
.block-calc-slider-credit .ui-state-default {
    top: -.5em;
    margin-left: 0;
    border-radius: 10px;
}
.block-calc-slider-credit .ui-state-active {
    background: #038C73;
}
.block-calc-slider-credit .ui-state-default[style = 'left: 100%;'] {
    left: 98%!important;
    width: 1.2em;
    height: 1.2em;
}
.block-calc-slider-credit .months {
    position: relative;
    height: 31px;
}
.block-calc-slider-credit .months b {
    position: absolute;
    text-align: center;
    height: 31px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 100%;
    top: 0px;
    z-index: 2;
    color: #000;
}
.block-calc-slider-credit .months b:last-child {
    left: 98%!important;
}
.block-calc-slider-credit .item-card {
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(204, 208, 214, 0.5);
    border-radius: 10px;
    padding: 30px;
}
.block-calc-slider-credit .item-card {

}
.cMcIFR {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 65px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 0;
}
.FbwbO {
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 26px;
    width: 32px;
    height: 32px;
    line-height: 29px;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    box-sizing: border-box !important;
    background: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(3, 140, 115);
    border-image: initial;
    border-radius: 31px;
    outline: none !important;
}
.FbwbO::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 7px;
    background-color: rgb(0, 0, 0);
    transform: translate(-50%, -50%);
    outline: none !important;
}
.dzVdrW {
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 26px;
    width: 32px;
    height: 32px;
    line-height: 29px;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    box-sizing: border-box !important;
    background: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(3, 140, 115);
    border-image: initial;
    border-radius: 31px;
    outline: none !important;
}
.dzVdrW::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 12px;
    background-color: rgb(0, 0, 0);
    transform: translate(-50%, -50%);
    outline: none !important;
}
.dzVdrW::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 12px;
    width: 2px;
    background-color: rgb(0, 0, 0);
    transform: translate(-50%, -50%);
}
.cMcIFR > div {
    padding: 0px 12px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 65px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.irUjrl {
    white-space: nowrap;
}
.guNFLw {
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    background: #fff;
    border: none;
    width: 110px;
}
.guNFLw,
.procent {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
}

.block-bistro {
    margin-top: 120px;
}
.block-bistro .block-sroll {
    margin: 30px -15px 0px;
    display: flex;
}
.block-bistro .block-sroll .item-bistsro {
    background: #F2F2F2;
    border-radius: 10px;
    width: 470px;
    max-width: 470px;
    min-width: 310px;
    font-weight: 500;
    padding: 40px;
    background-position: right bottom;
    background-repeat: no-repeat;
    margin-left: 25px;
}
.block-bistro .block-sroll .item-bistsro:first-child {
    margin-left: 0;
}
.block-bistro .block-sroll .item-bistsro span {
    font-size: 14px;
    display: inline-block;
    width: 59%;
}
.block-bistro .block-sroll .item-bistsro.bistro {
    background-image: url('img/clock-1.png');
}
.block-bistro .block-sroll .item-bistsro.doki {
    background-image: url('img/pasp-1.png');
}
.block-bistro .block-sroll .item-bistsro.usloviya {
    background-image: url('img/comp-1.png');
}

@media (min-width: 768px) {
    .kdNHTS {
        margin-bottom: 70px;
    }
    .ckfICs {
        margin: 40px 0px 0px;
    }
    .fatiKL {
        font-size: 50px;
        line-height: 58px;
    }
    .cMcIFR {
        width: 210px;
        margin: 0 auto;
    }
    .block-bistro .block-sroll {
        margin: 40px 0px 0px;
    }
}
@media (min-width: 1024px) {
    .kdNHTS {
        margin-bottom: 150px;
        display: flex;
    }
    .cboULR {
        max-width: 240px;
        margin-right: auto;
    }
    .ckfICs {
        margin: 0px;
    }

    .kuloBk,
    .kozmcS,
    .jsvCKf {
        width: calc((100% - 80px) / 3);
        padding: 200px 30px 30px;
    }
    .ckfICs article + article,
    .jsvCKf article + article {
        margin-left: 40px;
    }
    .cMcIFR {
        width: auto;
        margin: 0;
    }
    .block-bistro .block-sroll {
        margin: 0px;
    }
}
@media (max-width: 767px) {
    .ckfICs {
        width: calc(100% + 30px);
        overflow-x: auto;
        padding: 0px 15px;
    }
    .block-bistro .block-sroll {
        width: calc(100% + 30px);
        overflow-x: auto;
        padding: 0px 15px;
    }
    .block-bistro .block-sroll .item-bistsro {
        background: #FFFFFF;
        border: 1px solid #E6E8E0;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 20px;
    }
    .block-bistro .block-sroll .item-bistsro.bistro,
    .block-bistro .block-sroll .item-bistsro.doki,
    .block-bistro .block-sroll .item-bistsro.usloviya {
        background: none;
    }
    .block-bistro .block-sroll .item-bistsro span {
        width: 100%;
    }
}


@media (max-width: 1200px) {
    .container .card-deck .block-main-top {
        padding: 20px 20px;
    }
    .container .card-deck .block-main-top .block-green {
        left: 53%;
        clip-path: polygon(200px 0px, 100% 0px, 100% 100%, 0px 100%);
    }
    .container .card-deck .block-main-top .block-samokat {
        left: 70%;
    }
}
@media (max-width: 1024px) {
    .container .card-deck .block-main-top {
        font-size: 11px;
    }
    .container .card-deck .block-main-top .block-green {
        left: 53%;
        clip-path: polygon(200px 0px, 100% 0px, 100% 100%, 0px 100%);
    }
    .container .card-deck .block-main-top .block-samokat {
        background-image: url('img/samokat-full-5.png');
        background-size: unset;
        left: unset;
        right: 0px;
        top: unset;
        bottom: 0;
        height: 225px;
        width: 162px;
    }
}
@media (max-width: 991px) {
    .container .cards-deck .block-item .more-dierails {
        border: none !important;
    }
    .container .cards-deck .item-card {
        background: #FFFFFF;
        box-shadow: 0px 10px 30px rgba(204, 208, 214, 0.5);
    }
    .container .cards-deck .block-item {
        margin-bottom: 20px;
    }
    .block-bistro .block-sroll {
        width: calc(100% + 30px);
        overflow-x: auto;
        padding: 0px 15px;
    }
}
@media (max-width: 768px) {
    .container .card-deck .block-main-top .block-green {
        left: 62%;
        clip-path: polygon(200px 0px, 100% 0px, 100% 100%, 0px 100%);
    }
    .container .card-deck .block-main-top .doki {
        display: none;
    }
    .container .cards-deck .block-item {

    }
    .ckfICs {
        margin: 40px 0px 0px;
    }
}
@media (max-width: 767.98px) {
    body {
        padding-top: 0;
    }
    footer .block-footer-menu {
        display: none;
    }
    footer .block-footer-modile-menu {
        display: flex;
    }
    .cMcIFR {
        width: 210px;
        margin: 0 auto;
    }
}