

/* Start:/local/templates/skb/styles.css?1586797885153*/
body {
    padding-top: 59px;
}

#bx-comp-params-wrap input[type=checkbox] + label:before {
    border: none;
    background-color: transparent;
}
/* End */
/* /local/templates/skb/styles.css?1586797885153 */
